# Node.js
node_modules/

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
bower_components/
jspm_packages/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Testing
coverage

# Production
build/
dist/

# Environment variables
.env

# Visual Studio Code settings
.vscode/
